*{
    margin:0;
    padding: 0;
}

body{
    background-color: #9649a4;
    text-align: center;
}

.container{
    height:70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:1.5vmin;
}

.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap:1.5vmin;
}

.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1.5rem;
    font-size: 8vmin;
    color:cadetblue;
    background-color: #ffffc7;
}

#reset{
    padding:1rem;
    font-size: 1.25rem;
    background-color: #BA8EA9;
    color: #eaeaea;
    border-radius: 1.3rem;
}
#new{
    padding:1rem;
    font-size: 1.25rem;
    background-color: #BA8EA9;
    color: #eaeaea;
    border-radius: 1.3rem;
}

#msg{
    color: #fdfdca;
    font-size: 6vmin;
}

.msg-container {
    height: 30vmin;
    display: none; /* Initially hidden, takes no space */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.msg-container.show {
    display: flex; /* Only take space when the game ends */
}
